.live-news-container {
    width: 100%;
    background-color: black;
}

.live-news-title {
    gap: 20px;
    margin-top: 30px;
}

.live-news-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 0px 40px 0px 40px;
}

.live-news-grid>.live-news-title:first-child {
    grid-column: 1 / span 3;
}

.live-news-grid>div {
    padding-bottom: 30px;
}


.live-image-box {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}

.live-image-box img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

@media only screen and (max-width: 960px) {
    .live-news-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .live-news-grid>.live-news-title:first-child {
        grid-column: 1 / span 2;
    }

}

@media only screen and (max-width: 640px) {
    .live-news-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .live-news-grid>.live-news-title:first-child {
        grid-column: 1 / span 1;
    }

}