.menu-wrap {
    display: none;
}

@media only screen and (max-width: 960px) {
    .container {
        width: 100vw !important;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .categorys {
        display: none;
        /* justify-content: flex-start; */
    }

    .content-links,
    .search-bar {
        display: none;
    }

    .navbar-additions {
        margin-left: 0 !important;
    }

    .menu-wrap {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .menu-wrap .toggler {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        cursor: pointer;
        width: 70px;
        height: 52.5px;
        opacity: 0;
        margin-top: 5px;
    }

    /* overlay haruulah */
    .menu-wrap .toggler:checked~.menu {
        visibility: visible;

    }

    .menu-wrap .toggler:checked~.menu>div {
        transform: scale(1);
        transition-duration: 0.4s;

    }

    .menu-wrap .hamburger {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 70px;
        height: 52.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .menu-wrap .menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
    }


    .menu-wrap .menu>div {
        background-color: rgba(24, 39, 51, 0.85);
        width: 200vw;
        height: 200vw;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0);
        transition: all 0.4s;
    }

    .menu-wrap .menu>div>div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;
    }

    .menu-wrap .menu>div>div>ul>li {
        list-style: none;
        color: #fff;
        font-size: 40px;
        padding: 1rem;
    }

    /* goliin medeenuud neg egneend oruulah  */


}