/* .container {
    width: 100vw;
} */

.story-container {
    width: 100%;
    overflow: hidden;
}

.story-block-box {
    width: 100%;

}

.story-flex-box {
    width: 100%;
    display: flex;
    gap: 15px;
    /* height: fit-content; */
}

.story-news {
    position: relative;
    flex-grow: 1;
    border: 3px solid green;
    border-radius: 5px;

}

.story-gogo-logo {
    position: absolute;
    top: 10%;
    left: 5%;

}

.story-news-title {
    position: absolute;
    width: 100%;
    color: #fff;
    font-size: 12px;
    left: 0;
    bottom: 15%;
    padding: 8px;
    z-index: 2;
}

.story-image-box {
    width: 100%;
    /* position: relative; */
}

.story-image-box img {
    width: 100%;
}



@media only screen and (max-width: 900px) {
    .story-flex-box {
        width: 200%;
    }
}

@media only screen and (max-width: 600px) {
    .story-flex-box {
        width: 300%;
    }
}