* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0px 40px 0px 40px;
}



a {
    text-decoration: none;
    color: inherit;
}

.text-black {
    color: #000;
}

.green-txt {
    color: #2adb00;
    font-size: 14px;
}

.gg-label-blue {
    color: #fff;
    padding: 2px 3px;
    background-color: #00b0f4;
    border-radius: 3px;
}

.other-news-icons {
    display: flex;
    line-height: 1rem;
    font-size: 14px;
}

.f-white {
    color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}